# Python
__pycache__/
*.py[oc]
.venv/
build/
dist/
wheels/
*.egg-info


# Node
node_modules/
npm-debug.log*

# Secrets / env
.env

# Models (too large for git)
*.onnx
*.bin
*.litertlm

# macOS
.DS_Store
default.profraw

# IDE
.idea/
.vscode/
